#signIn {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#signIn .jumbotron {
    background: white;
    text-align: center;
    min-width: 320px;
    max-width: 70%;
    margin: auto;
    margin-top: 50px;
}
#signIn .emailFormControl {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
#signIn .emailFormControl:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 45, 45, 0.6) !important;
    border: 0px solid;
}
#signIn .passwordFormControl {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
#signIn .passwordFormControl:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 45, 45, 0.6) !important;
    border: 0px solid;
}
#signIn .signInButton {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(194, 45, 45);
    border: 0px solid;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}
#signIn .signInButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 45, 45, 0.6) !important;
    border: 0px solid;
}

#signIn .forgotPasswordButton {
    width: 100%;
    margin-top: 10px;
    background: rgba(194, 45, 45);
    border: 0px solid;
    font-size: 17px;
}
#signIn .forgotPasswordButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 45, 45, 0.6) !important;
    border: 0px solid;
}

#signIn #row1{
    text-align: center;
}

#signIn #logoImg{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#signIn #row2{
    text-align: center;
}