.mainContainer {
  margin-bottom: 20px;
}
.container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.info {
  font-size: 14px;
  display: flex;
}

.label {
  width: 60px;
  color: #c22e2d;
}

.text {
  left: 70px;
  color: rgb(176, 176, 176);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.histBtn {
  height: 36px;
  width: 36px;
  background-color: #c22e2d !important;
  border-color: #c22e2d !important;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Delete Cofirmation Styling */
.deleteContainer {
  width: 100%;
}

.deleteMsg {
  height: 36px;
  width: 100%;
  line-height: 36px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.deleteBtn {
  width: 100%;
  height: 36px;
  background: #c22e2d !important;
  border-color: #c22e2d !important;
}
