#manageBox {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 200px;
}

#manageBox #boxButton {
  height: 36px;
  width: 36px;
  background-color: #c22e2d;
  border: 0px solid;
}

#manageBox #column {
  height: 36px;
  position: absolute;
  line-height: 36px;
  font-size: 14px;
  color: #b0b0b0;
}

#manageBox #label {
  color: #c22e2d;
  width: 120px;
  position: absolute;
}

#manageBox #value {
  width: 160px;
  left: 120px;
  position: absolute;
}

#manageBox #approveButton {
  background-color: #c22e2d;
  border: 0px solid;
}
