#Sessions {
    margin-top: 57px;
    min-height: calc(100vh - 112px);
}

#Sessions #data {
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#Sessions #top #addSessionButton {
    width: 150px;
    height: 36px;
    background: #C22E2D;
    border: 0px;
}

@media only scrren and (max-width: 1000px) {
  #Sessions {
    margin-top: 0px;
  }

  #Sessions #top {
    position: relative !important;
  }

  #Sessions #top #addSessionButton {
    /*width: calc(50% - 16px) !important;
    position: absolute;
    left: 10px;
    top: 10px;*/
    display: none;
  }
}