.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    padding: 0px;
    border: 0px;
    background-color: whitesmoke;
}

.dropdown.show .dropdown-menu {
    padding: 5px;
    max-height: 300px;
    opacity: 1;
}

#socialNavIcon {
    margin: 3px;
    height: 25px !important;
    width: 25px !important;
    margin-right: 6px;
}

#socialNavIcon div svg g.social-svg-mask{
    fill: rgba(194, 45, 45) !important;
}

#MobileNavBar {
    position: fixed;
    z-index: 10001;
}
