#dashboard {
    padding-bottom: 80px;
    margin-top: 57px;
}

#dashboard #defaultButton {
    background: rgb(194, 45, 45, 0.5);
    border: 0px solid;
    padding: 0;
    width: 75px;
}

#dashboard #defaultButton:disabled {
    background: rgb(194, 45, 45);
    opacity: 1;
}

#dashboard #customButton {
    background: rgb(194, 45, 45, 0.5);
    border: 0px solid;
    padding-left:0;
    padding-right: 0;
    width: 75px;
}

#dashboard #customButton:disabled {
    background: rgb(194, 45, 45);
    opacity: 1;
}

#dashboard #addGraph {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    width: 150px;
}

#dashboard #testButton {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    width: 150px;
}

@media only screen and (max-width: 750px) {
    #dashboard {
        margin-top: 0px;
    }
    #dashboard #top {
        height: 102px !important;
        position: relative !important;
    }

    #dashboard #dashSelector {
        width: calc(50% - 16px);
        position: absolute;
        left: 10px;
        margin: 0 !important;
    }

    #dashboard #typeSelector {
        width: calc(50% - 16px);
        position: absolute;
        right: 10px;
    }

    #dashboard #addGraph {
        left: 10px;
        top: 56px;
        width: calc(50% - 15px);
    }

    #dashboard #testButton {
        right: 10px;
        top: 56px;
        width: calc(50% - 15px);
    }
}

#toggleButton {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    width: 200px;
}

#modalSelector #sensorButton {
    background: rgb(194, 45, 45, 0.5);
    border: 0px solid;
}

#modalSelector #sensorButton:disabled {
    background: rgb(194, 45, 45);
    opacity: 1;
}

#modalSelector #customButton {
    background: rgb(194, 45, 45, 0.5);
    border: 0px solid;
}

#modalSelector #customButton:disabled {
    background: rgb(194, 45, 45);
    opacity: 1;
}

/*Bottom half part*/

#derivativeButton {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 5px;
}

#trackMapButton {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    width: 160px;
}

#accelMapButton {
    background: rgb(194, 45, 45);
    opacity: 1;
    border: 0px solid;
    width: 160px;
    right: 0;
}

#trackMap {
    position: fixed;
    bottom: 40px;
    left: 64px;
    width: 370px;
    height: 300px;
    background-color: #FFF;
    z-index: 1000;
    border-color: #C22E2D;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    border-radius: 0;
}

#trackMap #graphBox {
    margin: 0px;
}

#trackMap #scatterPlot {
    margin: 0 !important;
}

#trackMap #graphBox {
    width: 270px;
    height: 340px;
    min-width: 100px !important;
    border-width: 0px;
    margin: auto !important;
}

#trackMap canvas {
    height: 230px !important;
}

#accelMap {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 370px;
    height: 340px !important;
    background-color: #FFF;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0;
    border-color: #C22E2D;
    border-style: solid;
}

#accelMap canvas {
    width: 320px !important;
    margin-top: -200px;
    margin-left: 15px;
}

@media only screen and (max-width: 750px) {
    #trackMap {
        left: 0px;
        width: 100% !important;
    }
    #trackMap #graphBox {
        margin: auto !important;
    }
    #trackMapButton {
        width: calc(50% - 15px);
    }
    #accelMapButton {
        width: calc(50% - 15px);
    }
}

/* Landscape */

@media screen and (orientation:landscape) {
    #topBar {
        display: none;
    }
}