body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica";
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html, body, #root{
  height: 100%;
  margin-top: 0;
}

/* BROWSER SPECIFIC STYLING */
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
:invalid {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow:none;
}

input[type=checkbox]:checked + label {
  color: #C22D2D;
}

.form-check {
  width: 100%;
  margin: 1px auto;
  position: relative;
  display: block;
}

.form-check input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.form-check label {
  position: relative;
}
.form-check label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 6px;
  width: 13px;
  height: 13px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #C22D2D;
}
.form-check label:after {
  content: '';
  display: block;
  width: 7px;
  height: 3.5px;
  border-bottom: 2px solid #C22D2D;
  border-left: 2px solid #C22D2D;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 10px;
  left: 9px;
}
.form-check input[type="checkbox"]:checked ~ label::before {
  color: #C22D2D;
}
.form-check input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.form-check label {
  min-height: 10px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: sub;
}
.form-check label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-check input[type="checkbox"]:focus + label::before {
  outline: 0;
}


#dataChoice .form-check {
  width: 100%;
  margin: 15px auto;
  position: relative;
  display: block;
}

#dataChoice .form-check input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
#dataChoice .form-check label {
  position: relative;
}
#dataChoice .form-check label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 6px;
  width: 44px;
  height: 44px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #C22D2D;
}
#dataChoice .form-check label:after {
  content: '';
  display: block;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid #C22D2D;
  border-left: 2px solid #C22D2D;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 20px;
  left: 18px;
}
#dataChoice .form-check input[type="checkbox"]:checked ~ label::before {
  color: #C22D2D;
}
#dataChoice .form-check input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

#dataChoice .form-check label {
  min-height: 10px;
  display: block;
  padding-left: 60px;
  padding-top: 14px;
  font-size: 20px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: sub;
}
#dataChoice .form-check label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#dataChoice .form-check input[type="checkbox"]:focus + label::before {
  outline: 0;
}

