#licenses {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#licenses .jumbotron{
    background: white;
    margin: 0% 25%;
}
#licenses #largeFont {
    font-size: 35px;
    text-align: center;
}
#licenses #headerFont {
    font-size: 25px;
}
#licenses #textFont {
    font-size: 17px;
    line-height: 1;
}
#licenses #linkFont {
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    color: rgba(194, 45, 45);
}