.sidenav---sidenav---_2tBP {
    background: rgb(194, 45, 45) !important;
    height: 110%;
    position: fixed;
    z-index: 1000;
}

@media only screen and (max-width: 999px) {
    .sidenav---sidenav---_2tBP {
        display: none;
    }
}