.container {
  display: inline;
  max-width: 10000px !important;
}

.navbar {
  height: 56px;
  padding: 0px 10px;
  background-color: #343a40;
  color: #343a40;
}

.nav-link {
  position: relative;
  height: auto;
  margin: auto;
  padding: 14px 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
}

.body {
  height: 1938px;
  color: hsla(0, 0%, 100%, 0.62);
  font-weight: 700;
}

.nav-link-2 {
  left: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: hsla(0, 0%, 100%, 0.62);
}

.nav-link-3 {
  color: hsla(0, 0%, 100%, 0.62);
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link-4 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link-4:hover {
  text-decoration: underline;
}

.navbar-2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  float: none;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.navbar-3 {
  position: fixed;
  left: 0%;
  top: 60px;
  right: auto;
  bottom: 0%;
}

.nav-link-5 {
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.62);
}

.nav-link-6 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  margin-right: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-menu {
  left: 0px;
  display: inline;
  width: Infinity%;
}

.nav-link-7 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-link-8 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-link-9 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-link-10 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

@media screen and (max-width: 991px) {
  .menu-button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu-button.w--open {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #343a40;
  }
  .icon {
    color: #fff;
  }
  .nav-link-6 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    background-color: #cc2d2d;
    color: hsla(0, 0%, 100%, 0.6);
  }
  .nav-menu {
    background-color: #cc2d2d;
  }
  .nav-link-7 {
    border-style: dashed;
    border-width: 1px 0px 0px;
    border-color: #343a40 #000 #000;
    background-color: #cc2d2d;
  }
  .nav-link-8 {
    border-top: 1px dashed #343a40;
    background-color: #cc2d2d;
  }
  .nav-link-9 {
    border-top: 1px dashed #343a40;
    border-right: 0px none #000;
    background-color: #cc2d2d;
  }
  .nav-link-10 {
    border-top: 1px dashed #343a40;
    background-color: #cc2d2d;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.w--open {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #343a40;
  }
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    overflow: visible;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .nav-link {
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 7vw;
    line-height: 24px;
  }
  .menu-button {
    color: #c22d2d;
  }
  .menu-button.w--open {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #343a40;
  }
  .icon {
    color: #fff;
    text-align: center;
  }
  .nav-link-2 {
    width: 100%;
    background-color: #c22d2d;
  }
  .nav-link-3 {
    width: 100%;
    border-top: 1px dashed #b12406;
    background-color: #c22d2d;
  }
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .nav-link-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}

