#top {
    margin-top: auto;
}

#top .mr-auto {
    text-align: center;
}

#top .about {
    text-align: center;
}

#top .link-0 {
    font-size: 28px;
    padding-right: 1rem;

}

#top .link-streaming {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-historical {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-manage {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-user {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-login {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-logout {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-signup {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}

#top .link-about {
    background: transparent;
    border: 0px solid transparent;
    font-style: bold;
    font-size: calc(0.8rem + 0.4vw);
    padding-right: 1rem;
    margin-left: 0 !important;
    color: #fff;
}